@charset "utf-8";

html {
  height: 100%;
}

html, body, p, span {
  margin: 0px;
  padding: 0px;
  font-family: '나눔고딕', 'NanumGothicWeb';
  color: #666666;
}

img {
  border: 0px;
  vertical-align: middle;
}

/*기본링크*/
a:link {
  color: #545353;
  text-decoration: none;
  font-family: '나눔고딕', 'NanumGothicWeb';
}

a:visited {
  color: #545353;
  text-decoration: none;
  font-family: '나눔고딕', 'NanumGothicWeb';
}

a:active {
  color: #545353;
  text-decoration: none;
  font-family: '나눔고딕', 'NanumGothicWeb';
}

a:hover {
  color: #1da689;
  text-decoration: none;
  font-family: '나눔고딕', 'NanumGothicWeb';
}

/*font 적용*/
@font-face {
  font-family: 'NanumGothicWeb';
  font-style: normal;
  font-weight: normal;
  src: url('../css/NanumGothic.woff') format('woff');
}

@font-face {
  font-family: 'NanumGothicWebB';
  font-style: normal;
  font-weight: bold;
  src: url('../css/NanumGothicBold.woff') format('woff');
}

.top {
  width: 100%;
  height: 167px;
  /* position: fixed;
  z-index: 999999;
  background-color: #FFFFFF; */
}

.center_box {
  width: 1024px;
  margin: 0 auto;
  position: relative;
}

.main_box{
  /* top: 167px; */
}

.logo {
  padding: 38px 0 0 0;
}

.menu {
  position: absolute;
  top: 100px;
  right: 0px;
  text-align: right;
}

.menu_element {
  padding: 0 0 0 0px;
  font-size: 14px;
  margin: 0 0 0 50px;
}

.menu_element.on {
  border-bottom: 2px solid #333;
  padding: 0 0 10px 0;
  font-weight: bold;
}

.seoul {
  position: absolute;
  top: 50px;
  right: 0px;
}

.copy {
  position: fixed;
  top: 250px;
  left: 0px;
}

/* main_thumb */
.main_display_box {
  width: 1040px;
  margin: 0 auto;
  position: relative;
}

.main_element1 {
  width: 512px;
  display: inline-block;
  float: left;
  position: relative;
  margin: 3px;
}

.main_element1 img {
  width: 100%;
}

.main_element2 {
  width: 683px;
  display: inline-block;
  float: left;
  position: relative;
  margin: 3px;
}

.main_element2 img {
  width: 100%;
}

.main_element3 {
  width: 341px;
  display: inline-block;
  float: left;
  position: relative;
  margin: 3px;
}

.main_element3 img {
  width: 100%;
}

.main_element_on {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background: url(../images/bg_black.png);
  height: 370px;
}

.main_element_on_box {
  margin: 130px auto;
  width: 200px;
  background-color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  padding: 25px 20px 25px 20px;
  min-height: 60px;
}

.foot_box {
  float: left;
  width: 100%;
  height: 80px;
}

/* about */
.cv_box {
  width: 512px;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 30px 0 0 0;
}

h1 {
  font-family: 'NanumGothicWeb';
  font-size: 13px;
  padding: 10px 0 0 0;
}

h2 {
  font-family: 'NanumGothicWebB';
  font-size: 13px;
  padding: 25px 0 10px 0;
}

h3 {
  font-family: 'NanumGothicWeb';
  font-size: 13px;
  line-height: 10px;
  padding: 5px 0 0 0;
}


.pro_bar {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 5px;
    width: 0px;
    background: black;
    z-index: 3;
  }

  .pro_bar_bg {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 6px;
    width: 100%;
    background: white;
    z-index: 2;
  }

.btm_menu {
  /* position: fixed; */
  position: absolute;
  width:100%;
  left: 0;
  bottom: -161px;
  padding-left: 16px;
  padding-top: 2px;
  z-index: 4;
  background: white;
}

.btm_logo{
  height:1.2em;
}

.btm_menu_element {
    display: inline-block;
    font-size: 15px;
    line-height: normal;
    cursor: pointer;
    margin-right: 40px;
  }

  .btm_menu_element.on {
    border-top: 2px solid #333;
    font-weight: bold;
    }

.fixfix{
  position: fixed;
  bottom: 6px;
}
