@charset "utf-8";
/* invention */
html{height:100%;}
html,body,td,th,p,span{margin:0px; padding:0px; font-family:'나눔고딕','NanumGothicWeb'; color:#666666;}
li,ul{margin:0px; padding:0px; list-style:none;}
#box_left{float:left;}
#box_right{float:right;}
img{border:0px; vertical-align:middle; }
input,textarea,select{vertical-align:middle; font-family:'나눔고딕','NanumGothicWeb'; color:#666666;}
body{overflow-y:scroll; .overflow-y:auto;}

input[type="text"], input[type="number"], input[type="tel"], input[type="password"], input[type="email"], input[type="search"], textarea {
-webkit-appearance: none;/*기본속성없애기*/
/*background:none;윗부분두줄보이는거 없애기*/
border-radius:0;/*기본 라운드 없애기*/
}
* {-webkit-text-size-adjust:none;}

/*기본링크*/
A:link {color: #545353; text-decoration: none; font-family:'나눔고딕','NanumGothicWeb';}
A:visited {color: #545353; text-decoration: none; font-family:'나눔고딕','NanumGothicWeb';}
A:active {color: #545353; text-decoration: none; font-family:'나눔고딕','NanumGothicWeb';}
A:hover {color: #1da689; text-decoration: none; font-family:'나눔고딕','NanumGothicWeb';}

.white A:link {color: #fff; text-decoration: none; font-family:'나눔고딕','NanumGothicWeb';}
.white A:visited {color: #fff; text-decoration: none; font-family:'나눔고딕','NanumGothicWeb';}
.white A:active {color: #fff; text-decoration: none; font-family:'나눔고딕','NanumGothicWeb';}
.white A:hover {color: #fff; text-decoration: none; font-family:'나눔고딕','NanumGothicWeb';}

.gray A:link {color: #c2c2c5; text-decoration: none; font-family:'나눔고딕','NanumGothicWeb';}
.gray A:visited {color: #c2c2c5; text-decoration: none; font-family:'나눔고딕','NanumGothicWeb';}
.gray A:active {color: #c2c2c5; text-decoration: none; font-family:'나눔고딕','NanumGothicWeb';}
.gray A:hover {color: #1eb7ce; text-decoration: none; font-family:'나눔고딕','NanumGothicWeb';}

.black A:link {color: #181c1c; text-decoration: none; font-family:'나눔고딕','NanumGothicWeb';}
.black A:visited {color: #181c1c; text-decoration: none; font-family:'나눔고딕','NanumGothicWeb';}
.black A:active {color: #181c1c; text-decoration: none; font-family:'나눔고딕','NanumGothicWeb';}
.black A:hover {color: #181c1c; text-decoration: none; font-family:'나눔고딕','NanumGothicWeb';}

.point A:link {color: #07ccca; text-decoration: none; font-family:'나눔고딕','NanumGothicWeb';}
.point A:visited {color: #07ccca; text-decoration: none; font-family:'나눔고딕','NanumGothicWeb';}
.point A:active {color: #07ccca; text-decoration: none; font-family:'나눔고딕','NanumGothicWeb';}
.point A:hover {color: #1ca199; text-decoration: none; font-family:'나눔고딕','NanumGothicWeb';}

.abold a:link{font-family: 'NanumGothicWebB';}
.abold a:visited{font-family: 'NanumGothicWebB';}
.abold a:active{font-family: 'NanumGothicWebB';}
.abold a:hover{font-family: 'NanumGothicWebB';}

/*font 적용*/
@font-face{font-family: 'NanumGothicWeb'; font-style: normal; font-weight: normal;  src: url('../css/NanumGothic.eot'); src: local('☺'), url('../css/NanumGothic.woff') format('woff'), url('../css/NanumGothic.ttf') format('truetype'); }
@font-face{font-family: 'NanumGothicWebB'; font-style: normal; font-weight: bold; src: url('../css/NanumGothicBold.eot'); src: local('☺'), url('../css/NanumGothicBold.woff') format('woff'), url('../css/NanumGothicBold.ttf') format('truetype'); }
@font-face{font-family: 'Avenir'; font-style: normal; font-weight: bold; src: url('../css/AvenirLTStd-Book.eot'); src: local('☺'), url('../css/AvenirLTStd-Book.woff') format('woff'); }



.top{height:167px;}

.center_box{width:1024px; margin:0 auto; position:relative;}
.logo{padding:38px 0 0 0;}
.menu{ position:absolute; top:100px; right:0px; text-align:right;}
span.menu_unit{padding:0 0 0 0px; font-size:14px; margin:0 0 0 50px;}
span.menu_unit.on{border-bottom:2px solid #333; padding:0 0 10px 0; font-weight:bold;}
.seoul{position:absolute; top:50px; right:0px;}

.copy{position:fixed; top:250px; left:0px;}

.main_list{width:1024px; margin:0 auto;}
.main_unit1{ width:512px; display:inline-block; float:left; position:relative;}
.main_unit1 img{width:100%; }
.main_unit2{ width:683px; display:inline-block; float:left; position:relative;}
.main_unit2 img{width:100%; }
.main_unit3{ width:341px; display:inline-block; float:left; position:relative;}
.main_unit3 img{width:100%; }

/* main_thumb */
.main_lista{width:1040px; margin:0 auto;}
.main_unit1a{ width:512px; display:inline-block; float:left; position:relative; margin:3px;}
.main_unit1a img{width:100%; }
.main_unit2a{ width:683px; display:inline-block; float:left; position:relative; margin:3px;}
.main_unit2a img{width:100%; }
.main_unit3a{ width:341px; display:inline-block; float:left; position:relative; margin:3px;}
.main_unit3a img{width:100%; }

.cont_box1{ width:512px; font-family: 'Open Sans Condensed', sans-serif; padding:30px 0 0 0;}
.cont_box2{ width:512px; position:absolute; top:0; left:512px; padding:30px 0 0 0; text-align:right;}
p.about_h1{font-family: 'Open Sans Condensed', sans-serif; font-size:30px; color:#000;}
p.about_h2{font-family: 'Open Sans Condensed', sans-serif; font-size:15px; padding:20px 0 0 0;}
p.about_h3{font-family: 'Open Sans Condensed', sans-serif; font-size:14px; padding:10px 0 0 0;}

p.contact_h1{font-size:13px; padding:20px 0 0 0; line-height:40px;}

p.about_hk1{font-size:28px; padding:50px 0 0 0;}
p.about_hk2{font-size:11px; padding:10px 0 0 0;}
p.about_hk3{font-size:12px; line-height:20px; padding:20px 0 0 0;}

/* works  */
.works_box1{width:190px; padding:40px 0 0 0; position:fixed; z-index:999999;}
.works_box2{width:330px; position:absolute; top:0px; left:190px; padding:40px 0 60px 0px; line-height:25px;}
.works_box2_fixed{width:330px; position:fixed; padding:40px 0 60px 190px; line-height:25px;}
.works_box3{width:480px; position:absolute; top:0px; left:545px; padding:40px 0 60px 0;}
.works_box3 img{width:100%; padding:0 0 4px 0;}
.works_box_text{width:760px; position:absolute; top:0px; left:250px; padding:40px 0 60px 0; line-height:25px;}

.works_box2a{width:835px; position:absolute; top:400px; left:190px; padding:40px 0 60px 0; line-height:25px;}
.works_box3a{width:835px; position:absolute; top:0px; left:190px; padding:40px 0 60px 0;}
.works_box3a img{width:100%;}


.text_box1{width:200px; padding:40px 0 0 0; position:fixed;}

p.works_list_unit{padding:0 0 20px 0; font-size:13px;}
p.works_list_unit.on{font-weight:bold;}
p.works_view_h1{font-size:30px; color:#000; line-height:30px;}
p.works_view_h2{font-size:12px; padding:10px 0 0 0;}
p.works_view_h3{font-size:12px; padding:10px 0 0 0;}
p.works_view_h4{font-size:12px; padding:20px 0 0 0; line-height:18px; text-align:justify;}
span.text_h1{font-size:20px; font-weight:bold;}

.main_unit_on{position:absolute; top:0px; left:0px; width:100%; background:url(../images/bg_black.png); height:370px;}
.main_unit_on_box{margin:130px auto; width:200px; background-color:#fff; text-align:center; font-size:12px; line-height:20px; padding:25px 20px 25px 20px; min-height:60px;}

.foot_box{float:left; width:100%; height:80px;}